* {
    margin: 0;
    padding: 0;
    gap: 0;
}

body,
html {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100%
}

svg {
    height: 2rem;
    min-width: 2rem;
    color: white;
}

.header {
    background-color: rgb(179, 51, 28);
    grid-column: 2 / 3;
    padding: 2rem;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    padding-top: 5px;
}

.header-top {
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-columns: auto minmax(200px, 3fr) 1fr 1fr 1fr auto auto auto;
    gap: 15px;
}

input {
    height: 1.5rem;
    font-size: 1rem;
    padding: 5px;
    padding-right: 20px;
    border-radius: 15px;
    width: 100%;
    grid-column: 2;
}

.small-profile-image {
    height: 2.75rem;
    border: 2px solid black;
    border-radius: 50%;
    background: white;
    padding: 2px;
    grid-column: 8 / 9;
}

.notifications {
    grid-column: 7 / 8;
}

.search-icon {
    grid-column: 1;
    min-width: 2rem;
}

.my-username {
    grid-column: 10 / -1;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}

.header-bottom {
    display: grid; 
    grid-template-columns: repeat(10, 1fr);
    align-self: end;
    padding-top: 15px;
    gap: 10px;
}

.large-profile-image {
    height: 5rem;
    border: 2px solid black;
    border-radius: 50%;
    background: white;
    padding: 2px;
    grid-column: 1;
    align-self: end;
}

.welcome-text {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-column: 2 / 5;
    align-self: center;
    color: white;
}

.small-welcome-text {
    font-size: 1rem;
}

.large-welcome-text {
    font-size: 1.5rem;
    font-weight: bold;
}

.header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-column: 7 / 11;
    align-items: bottom;
}

.button {
    border: 2px solid rgb(77, 20, 20);
    border-radius: 35%;
    height: 3rem;
    font-size: 1.25rem;
    padding: 5px;
    align-self: center;
}

.sidebar {
    background-color:rgb(232, 147, 116);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding-right: 10px;
}

.side-main {
    display: grid;
    grid-template-rows: 1fr 4fr 2fr;
    gap: 3rem;
    font-size: 25px;
    font-weight: bold;
}

.side-top {
    margin-left: 1.5rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    font-size: 35px;
}

.logo {
    height: 3rem;
}

.nav-svg {
    height: 2rem;
}

.nav-line {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
}

.navigation {
    gap: 1rem;
}

.main-content {
    background-color: rgb(202, 202, 202);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
}

.main-headers {
    font-size: 1.25rem;
    font-weight: bold;
}

.project-section {
    grid-column: 1;
    grid-row: 1 / 3;
    padding: 15px;
}

.project-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin-top: 10px;
}

.project-container {
    display: grid;
    grid-template-rows: 3fr 1fr;
    background-color: white;
    padding: 15px;
    border-left: 8px solid rgb(119, 24, 24);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(119, 24, 24);
}

.project-title {
    font-size: 1rem;
    padding-bottom: 3px;
}

.project-description {
    font-size: 0.9rem;
    font-weight: normal;
    color: rgb(87, 87, 87);
}

.project-buttons {
    justify-self: end;
}

.project-icons {
    height: 1.5rem;
    padding: 5px;
}

.announcements-section {
    grid-column: 2;
    grid-row: 1
}

.trending-section {
    grid-column: 2;
    grid-row: 2;
}

.trending-container {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
}

.trending-text-container {
    place-content: start;
}

.trending-text-1,
.trending-text-2 {
    font-size: 1rem;
    font-weight: normal;
}

.trending-text-2 {
    color: rgb(99, 99, 99);
}

.trending-item {
    display: grid;
    grid-template-columns: auto minmax(100px, 1fr);
    gap: 10px;
    margin-top: 15px;
}

.trending-icons {
    grid-column: 1;
}